[2019-09-02 14:41] bajtos commented on #340
Thank you all for participating in the discussion. I am afraid our bandwidth is limited and this issue is unlikely to make it to our milestone backlog. We rely on you, the community of users, to contribute the changes necessary to fix the issues described above.

I am proposing the following approach:
- Introduce a new feature flag at connector/datasource level to enable the new behavior where we

[2019-09-02 14:49] bajtos commented on #381
@aharbis I am afraid I am not able to help you much. By now, you know much more about this problem than I do 🤷‍♂

It is entirely possible that the fact that `id` properties are handled differently than non-id properties is just a quirk of the original connector implementation that we "inherited" from pre-loopback version of juggler.

I think we should find out what design & behavior makes sense fo

[2019-09-05 11:18] piuspbd commented on #123
Still running into the issue today.

[2019-09-11 14:35] pdarii commented on #348
Hi, any updates on cascade deleting?

[2019-09-20 11:13] DmitryPoluyan opened #395 "Dependency version error"
# Description/Steps to reproduce
Hello. I am using "loopback-connector-postgresql": "3.7.0"
![image](https://user-images.githubusercontent.com/16204601/65322854-927e7980-dbb0-11e9-8d6c-ee4f9a26c9d0.png)
Today the version of strong-globalize has changed to 5.0.2.
I use: "node": "6.9.2". So I have not packge-lock.js

And I have the error when I start application:
/node_modules/os-locale/index.js:27

[2019-09-20 14:16] dhmlau commented on #395
@DmitryPoluyan , would you be able to update your Node.js version?
Reading [this thread on StackOverflow](https://stackoverflow.com/questions/37815790/syntaxerror-unexpected-token-function-async-await-nodejs), it says:

http://kangax.github.io/compat-table/esnext/

Please be reminded that Node.js 6 has reached end of life: https://github.com/nodejs/Release, so it's recommended that you're updating

[2019-09-20 14:41] DmitryPoluyan commented on #395
Yes. I have created npm-shrinkwrap with working for me node_modules and updated application to 8.16.1 node version and npm 6.4.1 which support package.lock.json and npm-shrinkwrap.json .

[2019-09-20 14:41] #395 closed

[2019-09-24 22:15] zzhenryquezz opened #396 "invalid input syntax for type json when use repository.updateById()"
# Description/Steps to reproduce

When the dataType is JSON or JSONB and use repository.updateById() can't add the new array in database, but work normaly if use repository.replaceById()

Model:
[code]
Controller:
[code]
Response:
[code]
# Sandbox
https://github.com/zzhenryquezz/bug-update-arrya-jsonb

# Expected result
Update the array jsonb in Postgres Database

# Additional information
Maybe is

[2019-09-27 22:24] dhmlau commented on #393
@gerahimanshu, I believe we've answered your question. Closing as resolved. Thanks.

[2019-09-27 22:24] #393 closed

[2019-10-11 10:26] #386 closed

[2019-10-12 15:49] #339 closed

[2019-10-13 00:21] dhmlau commented on #396
@raymondfeng @bajtos, it seems like a bug to me if it's working fine with `repository.replaceById()` but not `repository.updateById()`. What do you think?

[2019-10-15 15:31] mpatino117 opened #397 "Loopback `autoupdate` is deleting all indexes from our production server. (Postgres)"
# Questions:
I am not sure why however loopback `autoupdate` does not seem to be reliable it seems to wipe all of our index every time it is runned. For a ORM this crucial feature is a bug and huge red flag now in my opinion.

# Description/Steps to reproduce

If bug: Our servers are hosted on Heroku and can be duplicated by just running loopback `autoupdate` command.

Just FYI this  in regards to

[2019-10-15 19:09] dhmlau commented on #397
@deepakrkris, could you please take a look? Thanks.

[2019-10-15 19:38] deepakrkris commented on #397
@mpatino117 can you also upload other model json files (like venue, facilitator, etc referred in the relations) for your given example ?

[2019-10-16 18:27] deepakrkris commented on #397
@mpatino117 , indexes are getting recreated when doing an update following the instructions to add a separate "indexes" section in the model.json as in https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#indexes, example:
[code]

[2019-10-16 21:13] deepakrkris commented on #397
So there are two things I have found :
1. auto-update recreates indexes and works fine for both property level index configuration (index is created with suffix "_idx" ) and separate  "indexes" section having all index configurations.
2. model discovery with ds.discoverSchemas() returns model definition without any index configurations for postgres connector.
[code]

[2019-10-21 17:12] deepakrkris commented on #397
@mpatino117 can you check and update if you are still facing this issue ?

[2019-10-23 16:35] mpatino117 commented on #397
@deepakrkris Here is a additional model that could help:

[code]

I seem to have been able to got index created in one modal. I have to keep trying to implement accross the app to call it good on my side.

Thank you for your assistance @deepakrkris

[2019-10-23 20:57] deepakrkris commented on #397
@mpatino117 from your last update, was the index created on one model after db.autoUpdate(). I that case I dont think the issue still exists.

[2019-10-23 20:58] deepakrkris commented on #397
@mpatino117 the model.json in https://github.com/strongloop/loopback-connector-postgresql/issues/397#issuecomment-545530026 does not have any index definition.

[2019-10-24 00:09] #397 closed

[2019-10-25 14:44] #388 closed

[2019-11-07 16:24] carlos-peru opened #399 "Foreign keys for pg broken in loopback 3"
# Description/Steps to reproduce:
I have the following models:

[code]

[code]

I keep getting the following error: `error: column "rawMaterialTypeId" referenced in foreign key constraint does not exist` when running:

[code]

My understanding is that this is caused because the `RawMaterial` does not exist yet. But this is definitely a bug. It works well with the MySQL connector with its slightly

[2019-11-27 00:44] johnhaire89 commented on #145
I installed nodejs and loopback 4 on Windows 10 today and experienced this issue.
Including the username and password in the URL did not fix the issue.
After running "npm update pg" it's using the correct username.

**>npm ls loopback-connector-postgresql**
[code]

**>lb4 --version**
[code]

[2019-11-29 08:23] bajtos commented on #145
@johnhaire89 can you reproduce the problem using `loopback-connector-postgresql` version `4.0.0`? If yes, then please:
- Create a small LB4 application we can use to reproduce the issue in isolation - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report.
- Ideally, write an automated test we can run via `npm test`, one that fails with the current LoopBack version.
- Open a new is

[2019-11-29 15:02] bajtos commented on #396
Possibly.

@zzhenryquezz Thank you for creating the reproduction app. I quickly skimmed through the code, but I don't see how are you invoking `replaceById` and `updateById` methods. What are the steps to reproduce the problem using your app?

[2019-11-30 20:34] sraddhan commented on #123
For those who end up here and are wondering about the status of the issue, there's similar issue reported which is open as of this moment. [here is the link](https://github.com/strongloop/loopback-next/issues/3058).

[2019-12-04 08:17] zzhenryquezz commented on #396
Hi @bajtos I add the steps to reproduce in the issue description, should be more clear now.

[2019-12-05 12:45] bajtos commented on #145
@johnhaire89 sorry for the confusion, I see that the latest version of `loopback-connector-postgresql` is `3.8.0`  and that's the version you tried & reproduced the problem with.

To help us to help you, please create a small application we can use to reproduce the problem and open a new issue.

- Create a small LB4 application we can use to reproduce the issue in isolation - see http://loopback.i

[2019-12-05 15:55] bajtos commented on #396
Thank you @zzhenryquezz for the update. I am afraid I don't see those steps anywhere in your example app. Are you referring to `Steps to reproduce` section in the issue description?

[2019-12-06 01:04] zzhenryquezz commented on #396
@bajtos On this page, hover up and see, this is the last section of the comment.

[2019-12-10 03:03] vikramkh opened #403 "BigInt returned as string"
## Steps to reproduce

I have two models, Players and Team. Both ids are BigInts. Players has a foreign Key teamId which is of type BigInt in the database, and number in Postgres model properties.

## Current Behavior

When I do .find() on players, teamId is returned as a string. If I do .execute, both id and teamId are returned as a string.

## Expected Behavior

When I do .find(), or .execute, b

[2019-12-11 09:30] QuentinLB commented on #403
I use loopback 4 and I have the same problem with `numeric` fields.

Here's an extract of my model :
[code]
I tried to trace a `find()` call but I could find the point where the conversion is done.

[2019-12-14 07:49] achrinza commented on #403
I suspect the following line may be the culprit:

https://github.com/strongloop/loopback-connector-postgresql/blob/master/lib/postgresql.js#L240-L272

As per [lb docs](https://loopback.io/doc/en/lb3/Implementing-create-retrieve-update-and-delete-methods.html#map-values-between-a-model-property-and-a-database-column), `fromColumnValue()` is responsible for converting from the database format to Jav

[2019-12-20 21:12] agnes512 commented on #381
https://github.com/strongloop/loopback-connector-postgresql/pull/404 might be related to this issue

[2020-01-06 19:28] deepakrkris opened #407 "Querying for NULL values results in error `DEFAULT is not allowed in this context`"
## Steps to reproduce

Detailed steps are in issue https://github.com/strongloop/loopback-next/issues/4332

## Current Behavior

When the connector is asked to build a where clause it replaces NULL values with `DEFAULT` for id fields which seems to cause issues.

## Expected Behavior

This check seems to be an unnecessary one, postgres does not seem to complain for NULL values placed in where clau

[2020-01-10 03:53] tijanirf commented on #269
https://loopback.io/doc/en/lb3/PostgreSQL-connector.html

might be late, but hopefully make it easier for other people.

[2020-01-12 13:19] arvindknit31 commented on #269
I still am getting same error in loopback4 with postgres on windows 10, please suggest me what should i do?

My package.json as follows

{
  "name": "smgmt",
  "version": "1.0.0",
  "description": "Store management",
  "keywords": [
    "loopback-application",
    "loopback"
  ],
  "main": "index.js",
  "engines": {
    "node": ">=8.9"
  },
  "scripts": {
    "build": "tsc",
    "build:watch": "ts

[2020-01-12 13:40] arvindknit31 opened #408 "value "96698647964" is out of range for type integer"
I am getting error "value "96698647964" is out of range for type integer" in loopback4 and latest l@loopback/cli with postgresql 12 on windows 10, please suggest me what should i do?

My user.model.ts as follows -->

import {Entity, model, property} from '@loopback/repository';

@model()
export class User extends Entity {
@Property({
type: 'number',
id: true,
generated: true,
})
id?: number;

@Pro

[2020-01-13 09:58] QuentinLB commented on #403
So I did some digging, turns out :

To fix this issue, you need to provide a parser for the targeted type. In my case I did the following :
[code]

@vikramkh For your BigInt case, the fix should be `types.setTypeParser(20, BigInt)`. You must use node ^10.4.0, before this version Int were limited to 53 bits.

[2020-01-14 01:33] dhmlau commented on #408
@arvindknit31, looking at this article: https://www.postgresqltutorial.com/postgresql-data-types/, it says:

I guess this is an expected behavior that your number provided above is out of range.

[2020-01-14 05:21] arvindknit31 commented on #408
Hi thanks for reply, but what about if my primary key which is also integer and auto increment reach to this number?

[2020-01-20 17:18] #399 closed

[2020-01-27 17:36] deepakrkris commented on #407
LoopBack postgres connector makes this check : https://github.com/strongloop/loopback-connector-postgresql/blob/master/lib/postgresql.js#L630 which tries to replace with a string "DEFAULT" for null values in id fields, which causes this issue.
But the following SQL runs without any issue.

`SELECT "id","title","color" FROM "public"."todolist" WHERE "id" IN (NULL, 2) ORDER BY "id"`

[2020-01-29 17:07] jannyHou commented on #407
@deepakrkris Good investigation 👍

I am a bit confused with the 3 statements:

- Which tries to replace with a string "DEFAULT" for null values in id fields, which causes this issue.
  - IMO this means the "DEFAULT" value causes the problem, so when the id field in query is `null`, we should preserve it instead of replacing it with default
- But the following SQL runs without any issue: `SELECT "i

[2020-01-29 20:42] jannyHou opened #411 "commit or rollback a transaction does not delete the connection's reference"
## Steps to reproduce

Originated from https://github.com/strongloop/loopback-next/pull/4474
To reproduce it, remove the special check for postgresql on [this line](https://github.com/strongloop/loopback-next/pull/4474/files#diff-5b8b9c9868638cbf9ea2dfbbee7b1593R80), and run the tests.

You will see `isActive` returns true when run the shared tests with postgresql.

The reason is explained in http

[2020-01-29 21:25] deepakrkris commented on #407
@jannyHou technically all 3 statements mean the same. Having a Null in the select query where clause for an id field is accepted. Default can only used for insert , update statements for auto increment field ID fields or non ID fields.

[2020-01-31 17:10] Mishastir opened #412 "missing package "Chalk""
Hi,
You have added a link to chalk module but missed to add it into package.json at the commit 9a9114aa804c98bcadc779bd177f5fd2e4fb146a
Please, update it.

[2020-01-31 17:46] agnes512 commented on #412
@Mishastir Thanks for reporting the bug!

[2020-01-31 18:24] #412 closed

[2020-02-05 16:09] richardjg74 opened #414 "Postgres JSON type and regexp losing parameter"
## Steps to reproduce

via Loopback explorer run a query on a json column with the following filter

## Current Behavior

No rows returned.  Debug shows that parameters are Null, if we use ILIKE, Parameter is correct

 loopback:datasource Datasource db: connected=true connecting=true +36s
  loopback:juggler:utils Sanitizing query object: {"where":{"attributes.tag_line":{"regexp":"hello"}}} +36s

[2020-02-05 21:21] zardilior commented on #340
Yes this is still relevant and happening, I think that either a note should be added to the docs about a workaround or some attention should be given to it!

[2020-02-11 16:39] qlerebours commented on #307
@doowb did you find a solution to your issue ?

[2020-02-11 17:13] doowb commented on #307
@qlerebours no and I'm no longer using this so I don't know if it's been resolved.

[2020-02-21 11:44] praneshvrp1396 commented on #348
Any update on onDelete cascade?

[2020-02-22 16:26] achrinza commented on #408
@arvindknit31 The `dataType` setting should work:

[code]
OR
[code]

^ Both are identical

[2020-02-28 00:49] #407 closed

[2020-02-28 07:35] mpohjola-fidera commented on #342
Also facing the same issue when attempting to create an entity with an array despite of having properly declared the property as an array in the model. Updating existing entities with the array seems to work.

While we have implemented some workarounds (such as manual create methods or creating entities without the array property set and then proceeding to update the entity with the array), this s

[2020-03-02 10:55] vikramkh opened #421 "Remaining connection slots are reserved for non-replication superuser connections (with no traffic)"
Please fill in the *entire* template below.

-->

## Steps to reproduce

I have a very nested relation. I have code that starts at the parent relation, finds all child relations by using the hasManyRelationGetter and then iterates through all children and finds their subsequent children, through a series of promise.alls. It looks something like below:
[code]
It's about seven layers deep. When I ru

[2020-03-04 10:20] #421 closed

[2020-03-04 10:20] vikramkh commented on #421
Realized this isn't a problem with the code, but my database setup

[2020-03-06 14:28] bajtos commented on #340
@zardilior could you please contribute that attention yourself and open a pull request with the necessary changes?

[2020-03-21 18:12] visdevabhakt opened #429 "native SQL update query to update columns in a table"
Hi,

 I'm using Postgresql connector and dataSource.execute() to run the  SQL Update query.I have written the code as follows. I'm getting an error, **error: syntax error at or near "=".**  Is this not correct syntax?

**Error details:**

name: 'error',
  length: 90,
  severity: 'ERROR',
  code: '42601',
  detail: undefined,
  hint: undefined,
  position: '62',
  internalPosition: undefined,
  int

[2020-03-23 01:51] #429 closed

[2020-03-27 10:44] #403 closed

[2020-03-28 13:55] Pavubrar commented on #138
my pg is up to date but still have this error.

[2020-03-29 21:39] QuentinLB commented on #403
As this issue is being closed, maybe the use of pg `setTypeParser` should be documented either in this repo or more importantly on loopback documentation as it's often the entry point for people using the connector. Just a suggestion.

[2020-03-30 13:43] emonddr commented on #403
@QuentinLB , the solution you mention above seems to involve only node.js and the `pg` module. What about how it integrates with LB 3? If you could provide a minimal app that shows how you fully integrated your solution, it would help to document this properly. thx.

[2020-03-30 14:20] QuentinLB commented on #403
Hi @emonddr

I have no idea how it integrate with LB3, I stumbled on this issue while working on a LB4 server. What I can describe was my assumption working on my server that use this connector. Once my models defined I was surprised to see my non-string models properties being returned as string ([see my previous example](https://github.com/strongloop/loopback-connector-postgresql/issues/403#issu

[2020-03-30 14:21] emonddr commented on #403
@QuentinLB , sorry, I meant LB4.

[2020-03-30 14:22] QuentinLB commented on #403
[It's already documented](https://github.com/strongloop/loopback-connector-postgresql#numeric-data-type) :man_facepalming:

[2020-04-12 21:11] #411 closed

[2020-04-16 14:03] himanshunagda opened #430 "Facing issue while running a query"
I have collection of records stored on postgresql and i am trying to retrieve records using where filter with gte(greater than equal to operator).

Query1--->SELECT * FROM schema.blocks WHERE block -> 'height' ->> 'low' >= '12';

Query2-->SELECT * FROM schema.blocks WHERE CAST(block -> 'height' ->> 'low' AS Integer) >= 12;

whenever I am running this query in nodejs:
      let result = await Block

[2020-04-16 14:03] himanshunagda commented on #430
@radsal

[2020-04-19 16:11] #414 closed

[2020-04-23 09:48] #396 closed

[2020-04-26 00:28] vikramkh commented on #403
@QuentinLB , where exactly does this code go?
`
import {types} from 'pg'

 // 1700 : Numeric (https://github.com/brianc/node-pg-types/blob/master/index.d.ts#L42)
types.setTypeParser(1700, parseFloat)
`
 In the node_modules or in each of the individual repositories?

[2020-04-26 00:46] QuentinLB commented on #403
@vikramkh

It doesn't matter where you setup your types parsers since it's a static interface. What matter is when you do this setup. If you use Loopback, I recommend to do it during the application initialization ; this way you ensure that your parser are setup before any connection to the database and before migrations.

[2020-04-26 04:51] vikramkh commented on #403
@QuentinLB  Thanks again for the help. After adding:
[code]
I get the error:
[code]
I am using node v10.15.3

[2020-04-26 17:30] QuentinLB commented on #403
You can't use `Json.stringify` to serialize BigInt (see the spec https://tc39.es/proposal-bigint/#sec-serializejsonproperty). One way to circumvent this is to provide your own `toJson` method :

[code]
Taken from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt#Use_within_JSON

However by my understanding of your issue, trying to serialize your data seems con

[2020-05-03 19:55] israelidanny opened #434 "varchar[] doesn't work"
## Steps to reproduce

1. Set up a model with a varchar[] field:
[code]
2. Try to save something.
## Current Behavior
[code]

## Expected Behavior

Supposed to save an array of strings

## Related Issues

Could this be related?
https://github.com/strongloop/loopback-connector-postgresql/pull/428

[2020-05-07 06:19] #408 closed

[2020-05-07 19:16] agnes512 commented on #434
This should be fixed in https://github.com/strongloop/loopback-connector-postgresql/pull/428. The patched has been released in version `5.0.1`. Thanks!

[2020-05-07 19:16] #434 closed

[2020-05-09 12:40] JuergenSimon opened #435 "Complex order statement fails"
#355  Steps to reproduce

We have a table that has fields weight (float) and voterId (integer, foreign key). We would like to sort the results of a query in the following way:

filter.order=["(weight/GREATEST(ABS(weight), 1)) DESC", "voterId ASC", "ABS(weight) DESC"]

## Current Behavior

The query breaks with the following error:

[code]

## Expected Behavior

The results are ordered as according

[2020-05-09 12:50] JuergenSimon commented on #435
ADDENDUM: Downgrading to 3.8.3 fixed the problem. 3.9.x exhibited it as well.

[2020-05-13 14:09] radsal opened #437 "Applying filter for type Array field"
## Steps to reproduce

Create a model with property type array:
e.g:
[code]
Insert some records.
Try to filter the record: {where: { propertyKey: "somevalue"}}

## Current Behavior

It doesn't return any records for the filter.
However, using `loopback-connector-mongodb@5.2.3` package returns the desired response.

## Expected Behavior

It should return matching records.

## Link to reproduction s

[2020-05-13 14:09] radsal opened #441 "Applying filter for type Array field"
## Steps to reproduce

Create a model with property type array:
e.g:
[code]
Insert some records.
Try to filter the record: {where: { propertyKey: "somevalue"}}

## Current Behavior

It doesn't return any records for the filter.
However, using `loopback-connector-mongodb@5.2.3` package returns the desired response.

## Expected Behavior

It should return matching records.

## Link to reproduction s

[2020-05-13 16:24] radsal commented on #437
Seems like the issue is that the column is created as type `text`:
[code]

[2020-05-14 10:55] rizz360 commented on #105
Why has this been closed? What is the recommend way of implementing arrays?

[2020-05-14 22:54] animesh32 opened #439 "datasource autoupdate drops column and then index of the same column and gives error"
<!-- 🚨 STOP 🚨 STOP 🚨 STOP 🚨
this is my existing model definition
{
    "id": {
        "id": true,
        "name": "id",
        "type": "number",
        "generated": true
    },
    "age": {
        "name": "age",
        "type": "number",
        "unique": true,
        "postgresql": {
            "dataType": "numeric",
            "columnName": "age"
        }
    },
    "name": {
        "nam

[2020-05-14 22:55] #439 closed

[2020-05-14 23:09] animesh32 opened #440 "autoupdate not working properly with indexes"
## Steps to reproduce

i am using datasource autoupdate
my current model definition is -
{
    "id": {
        "id": true,
        "name": "id",
        "type": "number",
        "generated": true
    },
    "age": {
        "name": "age",
        "type": "number",
        "unique": true,
        "postgresql": {
            "dataType": "numeric",
            "columnName": "age"
        }
    },

[2020-05-17 00:35] dhmlau commented on #437
@agnes512, you were looking into filters recently. Could you please help? Thanks.

[2020-05-19 18:56] agnes512 commented on #441
Hi, could you try to specify the `dataType` field of the property?

[code]
After you do `npm run migration`, that column should have data_type ARRAY.

[2020-05-20 08:05] radsal commented on #441
Hi, following your suggestion the column does have datatype `character varying[]` however the filter `{where: { propertyKey: "somevalue"}}` fails with parse error.
Is there an example for such filter?

[2020-05-21 18:44] agnes512 commented on #441
@radsal I checked the package, and you are right, PostgreSQL connector doesn't support filtering on arrays, see  https://github.com/strongloop/loopback-connector-postgresql/issues/342. I thought the operator [`inq`](https://loopback.io/doc/en/lb4/Where-filter.html#inq) would work. But seems like it only works for non-array properties. And based on https://github.com/strongloop/loopback-connector-p

[2020-05-21 18:47] agnes512 commented on #441
For anyone would like to contribute: for `inq` operator, it doesn't handle the case for arrays, see [code](https://github.com/strongloop/loopback-connector-postgresql/blob/master/lib/postgresql.js#L642)

[2020-06-08 11:33] JuergenSimon commented on #435
I would like to escalate this a little. The reason is, that I'm in a bind now. My old (high sierra) iMac died last week. It seems on Catalina, the 3.8.3 connector is no longer working at all (connection timeouts). This means I can only connect using the 5.0.1 connector, which exposes the bug described in this ticket.

[2020-06-16 09:58] gioppoluca opened #446 "Migration fails on existing schema different than public with user with no schema creation ACL"
## Steps to reproduce

- Have a PostgreSQL Db with an existing schema (thiis is needed since we need to add permissions also to view other tables in other schemas etc)
- Create a model with the schema set to the existing schema
- Execute the npm run migrate and get error on permission denied
## Current Behavior

Migrating schemas (alter existing schema)
Cannot migrate database schema { error: perm

[2020-06-16 10:14] gioppoluca commented on #446
If I add to the user the create privilege on the DB the migration works.

This could be a problem since there could be a case where the user does not have that privilege and the schema could be already existing.
Please take this into account with proper options/settings

[2020-06-16 10:17] gioppoluca opened #447 "Impossible to exclude tables from migration"
## Steps to reproduce

Execute migration on models that are only read only and on top of tables not managed by the project (but needed in the application)
If I execute a migration also these tables are taken into account

## Current Behavior

Try to migrate all the models

## Expected Behavior

Be able to exclude a model from the migration

[2020-06-16 11:35] gioppoluca opened #448 "extension and schema created for every table migrated"
## Steps to reproduce

- Migrating tables
- activating debug to check commands send to Db
- for every table the command:
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";CREATE SCHEMA  "micadoapp"
is repeated

## Current Behavior

The migration repeats the create extension and the create schema for all the tables.

## Expected Behavior

Extension creation and schema creation should be done only one time

[2020-06-16 19:02] gioppoluca commented on #447
I saw that it is possible to add a list of models to the "app.migrateSchema" but it should be better and more generic to have an option in the model definition

[2020-06-17 17:36] dhmlau commented on #446
In reality, as discussed in https://github.com/strongloop/loopback-next/issues/4757, the "migrate script" should be generating DDL for users to review, and pass it to someone who has the rights to run against the database. Please feel free to continue the discussion over there.

For now, I'm afraid this is the expected behavior that the specified credential connecting to the datasource needs to ha

[2020-06-17 17:44] dhmlau commented on #447
Yes, it's possible to specify the model(s) that you want to run the database migration (also see code snippet in https://github.com/strongloop/loopback-next/issues/2831#issue-440068034).

Having an option in the model definition to indicate this preference makes sense to me. It is probably related to the PR you submitted https://github.com/strongloop/loopback-connector-postgresql/pull/449. I'm thi

[2020-06-17 17:46] dhmlau commented on #448
@gioppoluca, could you please provide a sample app to help us reproduce this problem? Thanks.

[2020-06-17 17:46] dhmlau commented on #447
PR #449

[2020-06-23 20:41] aspectgfg opened #451 "LB4 datasource never "connects""
## Steps to reproduce

Latest loopback versions:
[code]
Make any psql datasource.

## Current Behavior

Crashing in controller when accessing DB:
[code]
When accessing DB in tests, calling `dataSource.connect()` never returns, using either promise or callback:
[code]
Can workaround in tests by using the `connected` event, event though the connect call never returns, the `connected` event does fire

[2020-06-25 14:21] bajtos commented on #451
Thank you @aspectgfg for reporting the issue.

Since you are claiming it's a regression, could you please let us know what is the latest version where this works for you? That way we can review the changes made since the last working version when looking for the source of the problem.

[2020-06-25 20:06] aspectgfg commented on #451
@bajtos actually don't have a working last version, just assumed it, because i'm pretty sure you guys are able to connect to your psql instances.
Don't understand what could be incorrect with my setup. All I'm currently running against is a db at localhost:5432 and the connect call never returns when calling a repository api or calling the dataSource.connect directly in tests. Tried versions `3.9.

[2020-07-02 04:27] #451 closed

[2020-07-03 04:26] #430 closed

[2020-07-16 18:24] Crisfon6 commented on #138
My pg is update and i have this error

[2020-07-18 07:24] #123 closed

[2020-07-25 01:28] adrielav2 commented on #138
Yeah got the error too, what should i do

[2020-07-28 12:51] Crisfon6 commented on #138
I share my solution to this problem here

https://stackoverflow.com/questions/62957352/connection-failed-postgres

[2020-08-01 09:53] #440 closed

[2020-08-08 09:50] #441 closed

[2020-08-09 08:51] akhudairyOP opened #452 "Connecter Module ./connectors/postgresql not found, will try another candidate"
First of all my app is working, and connection is working. It is just that debug console is very confusing to me.

When I run my app "DEBUG=loopback:data* npm start" I see the following logs

  **loopback:datasource Module ./connectors/postgresql not found, will try another candidate. +1ms
  loopback:datasource Initializing connector undefined +286ms**
  loopback:datasource Datasource user: connec

[2020-08-11 18:53] ewrayjohnson commented on #452
I too am seeing this today, but not yesterday, after upgrading to NodeJS 14.7.0 from 12.18.3

[2020-08-13 14:18] JuergenSimon opened #453 "Upgrade of Heroku Postgres breaks loopback-connector-postgresql with SSL error"
There is a show stopper problem that arises when using `loopback-connector-postgresql` in a Loopback3 application on Heroku. The problem is outlined here:

https://help.heroku.com/MDM23G46/why-am-i-getting-an-error-when-i-upgrade-to-pg-8

I have tried to use the following configuration for `loopback-connector-postgresql`:

[code]

It seems that the `ssl` option does not work.

## Steps to reproduc

[2020-08-16 08:04] #342 closed

[2020-08-30 23:34] #446 closed

[2020-08-30 23:34] #447 closed

[2020-09-01 11:08] puranjayjain-mtxb2b opened #457 "Foreign key constraints not being created in loopback 4"
## Steps to reproduce

Cannot create foreign key constraints with the following method

Service Request Model.ts
[code]

## Current Behavior

No foreign key constraint key getting created in postgresql db

## Expected Behavior

A foreign key constraint key in postgresql db

## Link to reproduction sandbox

Cannot put the entirety of the codebase as it's proprietary.

## Additional information

dar

[2020-09-01 12:01] puranjayjain-mtxb2b commented on #457
Closing this as I've found that the casing was incorrectly done on my end.

[2020-09-01 12:01] #457 closed

[2020-09-02 12:55] ingpconci opened #459 "Save Buffer data to bytea column ERROR SQL"
## Steps to reproduce
**Create a DB table with BYTEA column**
[code]

**Create a Loopbak4 model**

[code]

**Create a Loopbak4 controller with the update method**

[code]

## Current Behavior
Error in the construction of the SQL code

[code]

## Expected Behavior

[code]

## Link to reproduction sandbox

## Additional information

[code]
## Related Issues

_See [Reporting Issues](http://loopback.i

[2020-09-02 16:11] vrajasekhar1 commented on #381
I am also facing this issue. And my issue is resolved with a workaround "npm run migrate -- --rebuild"
Since its not a valid work around and data will be lost, it will be helpful to resolve this issue with a proper fix.

[2020-09-10 10:46] cjonestcgsi commented on #323
seeing this issue in loopback2

[2020-09-13 00:17] dhmlau commented on #448
Closing due to inactivity.

[2020-09-13 00:17] #448 closed

[2020-09-15 10:00] JuergenSimon commented on #435
The issue unfortunately prevails.

[2020-09-15 10:50] JuergenSimon commented on #435
Is there a way to escalate this ticket? We're really stuck here.

[2020-09-15 11:58] JuergenSimon commented on #435
I can report that this error was fixed but only when also using the latest version of `loopback-connector`.

[2020-09-25 21:20] ingpconci commented on #459
I've updated the libraries:

+-- @loopback/authentication@7.0.1
+-- @loopback/authentication-jwt@0.7.1
+-- @loopback/boot@3.0.1
+-- @loopback/core@2.10.1
+-- @loopback/repository@3.0.1
+-- @loopback/rest@7.0.1
+-- @loopback/rest-explorer@3.0.1
+-- @loopback/service-proxy@3.0.1
+-- @types/multer@1.4.4
+-- file-type@15.0.1
+-- loopback-connector-postgresql@5.1.0
+-- multer@1.4.2
`-- tslib@2.0.1

But

[2020-09-28 23:01] bytewareteam opened #461 "Loopback filter on column "varchar []" does not work in PostgreSQL:"
Hi guys, I'm using postgres as a BD, and I have a column of type "varchar []", and I need to query the records that contain certain values in the array, this in SQL is represented by "columName" @> '{"v1" , "v2"} ', but couldn't find how to do this in the documentation.
Investigating a little more I find [this issue](https://github.com/strongloop/loopback-connector-postgresql/issues/434), where th

[2020-09-29 07:23] bytewareteam commented on #461
First of all, I apologize for not expressing myself in the best way, as a result of desperation for not finding a solution to my problem.

Initially, I thought that the "inq" filter was poorly designed for the ":: varchar []" data type, however after some testing I realized that **this operator is fully functional, it just wasn't what it was searching.**
Taking postgres operators for array-type fi

[2020-10-07 08:29] ewrayjohnson opened #462 "Properties with underscores in their name cannot be indexed"
## Steps to reproduce

1. create a model with a property name that contains an underscore in it (e.g. short_name).
2. set that property to be indexed (e.g. `"index": true`)
3. call `pg.autoupdate() `(e.g. where `app.datasources.pg`);

## Current Behavior

1. The index is added
2. Then the index is dropped

## Expected Behavior
1. The index is added

## Additional information
The bug shown here is

[2020-10-08 09:49] billinghamj opened #463 "#456 causes multiple major versions of loopback-connector"
Opening this issue as requested https://github.com/strongloop/loopback-connector-postgresql/pull/456#issuecomment-705098592

Following #456, the latest version of `loopback-connector-postgresql` refers to `loopback-connector` v5, but the latest version of `loopback-datasource-juggler` refers to `loopback-connector` v4, resulting in two different versions having to be installed at the same time.

I

[2020-10-08 14:25] dhmlau commented on #463
@bajtos, could you please take a look? Thanks.

[2020-10-10 00:45] dhmlau commented on #462
@ewrayjohnson, would you be interested to submit a PR?

[2020-10-10 00:47] dhmlau commented on #462
A workaround would be to specify a "valid" column name in the `@property` decorator. See https://github.com/dhmlau/loopback4-example-todo-customized#if-i-have-a-table-name-or-column-name-that-is-different-from-the-model-name-and-property-what-should-i-change for an example. Thanks.

[2020-10-11 17:21] ewrayjohnson commented on #462
For those of us that have not taken the leap to LoopBack 4, the @property decorator is not an option.  Instead we would have to use postgresql.columnName

[2020-10-11 17:21] ewrayjohnson commented on #462
Yes

[2020-10-12 07:26] bajtos commented on #463
@billinghamj in https://github.com/strongloop/loopback-connector/pull/181#issuecomment-705093410, you wrote:

As far as I know, it's fine to have multiple versions of the same module installed in the same project. In LoopBack, we go quite far to ensure our code is designed to handle multiple versions of the same module installed.

Is there any particular issue you are running into?

Having said th

[2020-10-12 09:56] billinghamj commented on #463
No particular issue, just the concern that loopback is pretty fragile in our stack and I want to avoid the risk

Thanks for updating it! :)

[2020-10-19 08:53] #463 closed

[2020-10-20 11:28] kezek commented on #348
Any updates on this ?

[2020-10-20 23:35] dhmlau commented on #461
@agnes512, could you please help? Thanks.

[2020-10-24 02:23] ong-james opened #464 "Multi-Column Database Indexes are Always Dropped on Autoupdate"
## Steps to reproduce

1. Create a multi-column index on a database model's schema. E.g. for a model, `person`, in model's definition JSON file:
[code]
2. Execute `ds.autoupdate()` where `ds` is the database data source
3. Verify `unique_name_index` exists on the `person` table
4. Execute `ds.autoupdate()` a second time
## Current Behavior
Despite the fact that the index definition hasn't changed,

[2020-11-05 09:18] haotangio opened #465 "Add option to allow rule for column name"
## Suggestion

Current by default the property is "lowercased".
If we want to custom it, we must use:
[code]

We should provide an option in the connector level to allow users to compute column name as `keep`, `snake_case`, `camelCase`, `PascalCase`, or custom function `columnNameFn(propertyName: string) => string`

[2020-11-05 15:47] Tronix117 commented on #411
What is the status of the issue ?

[2020-11-05 20:13] dhmlau commented on #465
@haotangio, I think it's a valid feature. In fact, I recalled there's some discussion around this before but I couldn't find the corresponding GitHub issue. Let me transfer your issue to the `loopback-next` repo because I believe it should happen at the higher level than the connector level. Thanks.

[2020-11-10 09:46] prernagp opened #467 "Postgresql column as text[] or character varying() is returning data as string"
I have created a model that has an array field of categories. Here is the property definition:-

[code]

And when I apply filters like this:

[code]

I am getting value of the column as string here. i.e. operatorValue's value is '["ViewLibrarySong"]'.

[code]

The application is getting crashed as map will not work on string.

[2020-11-13 08:56] vineet-suri opened #468 "Query with AND & OR combination is not working"
## Steps to reproduce

I am trying to execute this code for the find repository method (which accepts FILTER)
[code]

## Current Behavior
I am getting this SQL for the above query:
[code]
OR clause is completely skipped .

## Expected Behavior
However, when i am trying to execute same query for count method of repository (which accepts WHERE clause, the correct SQL is executed.

Code:
[code]
SQL q

[2020-11-18 01:18] dhmlau commented on #468
There are related fixes in PR https://github.com/strongloop/loopback-connector-postgresql/pull/466 and https://github.com/strongloop/loopback-connector/pull/185. Could you please verify it if it works for you? Thanks.

[2020-11-18 01:19] dhmlau commented on #468
Closing as duplicate of https://github.com/strongloop/loopback-next/issues/6779.

[2020-11-18 01:19] #468 closed

[2020-11-23 10:09] samarpan-b commented on #467
I think this is related to https://github.com/strongloop/loopback-connector-postgresql/pull/460

@bajtos , @shubhisood  any ideas ? Can someone please help ? We are stuck on a feature around this.

[2020-11-26 15:49] bajtos commented on #461
The version `5.2.0` published on 2020-10-06 added support for `contains` operator, see https://github.com/strongloop/loopback-connector-postgresql/pull/460. Can you @bytewareteam please give it a try?

In the code snippet you posted in https://github.com/strongloop/loopback-connector-postgresql/issues/461#issuecomment-700503915, I see that you are implementing another custom operator `isContainedB

[2020-11-26 15:52] bajtos commented on #467
@samarpan-b did you perhaps forget to add `allowExtendedOperators: true` to your model settings?

See the docs: https://github.com/strongloop/loopback-connector-postgresql/tree/f0afde2d62d52c2f3867b6102ed2e8ee37b9d1e5#extended-operators

[2020-11-26 15:58] bajtos commented on #464
@ong-james thank you for a detailed bug report ❤️

I am not sure if anybody remembers why we have the current behavior of autoupdate you are observing, you are probably the most knowledgeable person now. Your description and proposal looks reasonable, would you like to submit a pull request to fix the problem?

See https://loopback.io/doc/en/contrib/code-contrib.html to get started.

Please includ

[2020-11-26 19:13] samarpan-b commented on #467
@prernagp can you please try this and confirm ?

[2020-11-26 20:01] bytewareteam commented on #461
Hello everyone, it has been a long time since I reviewed this issue for going on vacation, anyway.
I recently found out about this new operator that the truth is quite interesting, and it solves my initial approach. However, now I am working on implementing a way to declare custom operators, without resorting to rewriting library functions, since as we advance in our project, more operators are ne

[2020-11-26 20:01] #461 closed

[2020-11-27 03:37] ong-james commented on #464
@bajtos Absolutely :+1:  I'll update the code and submit a PR.

[2020-12-16 19:32] Salonii02 commented on #138
how did you resolve it?

[2020-12-22 11:27] danysz commented on #453
still happening

[2020-12-25 13:55] #452 closed

[2020-12-27 06:48] garimaj9837 commented on #453
Yes Facing the same issue

[2021-01-12 10:41] nicoskk opened #471 "Error when using transaction timeout"
## Steps to reproduce
loopback-connector-postgresql version is 5.3.0
node version is v14.1.0

[code]

## Current Behavior

aftersome time, app crashes with the following error
[code]

[2021-01-16 22:36] juanantoniodamianv commented on #77
I have the same issue only in node >14, works fine on 12 lts.

[2021-01-19 08:58] prernagp commented on #467
@bajtos We are using `allowExtendedOperators: true`
We have made it work by changing the definition of categories to the following:-

`@property({
    type: 'array',
    itemType: 'string',
    postgresql: {
      columnName: 'categories',
      dataType: 'varchar[]',
      dataLength: null,
      dataPrecision: null,
      dataScale: null,
      nullable: 'YES',
    },
  })
  categories?: string[

[2021-01-19 13:40] edbond commented on #15
For me the problem was in setting updatedAt to number. Changed to Date object.

[code]

[2021-01-26 04:26] pydotjs opened #472 "Postgres support > 9.x"
## Suggestion

I note in the readme that either Postgres 8 or 9 is required for the connector. Is there compatibility / a solution or pathway for newer Postgres versions?

## Use Cases

I've been notified by AWS that RDS with Postgres 9.x will be EOL by November 11th, 2021. They are recommending shifting to Postgres 12 (a significant jump) and will make the transition forced by February 22nd, 2022

[2021-01-27 11:06] prernagp commented on #467
@bajtos Can you please help us here?

[2021-01-27 15:00] bajtos commented on #467
Here is the query triggered by `contains` operator:

https://github.com/strongloop/loopback-connector-postgresql/blob/463becbce7c446a9d865b85e0513d93fd6374190/lib/postgresql.js#L537-L539

I am not an expert on PostgreSQL, this is what I found in the docs:

https://www.postgresql.org/docs/current/functions-array.html

I believe the current behavior is intended? I do see how it could be confusing to

[2021-01-28 12:42] pydotjs commented on #472
UPDATE

I've hooked up my project with:
- Postgres v12.5 (coming from v9.6)
- connector v5.3.0 (coming from v3.6.1)
- loopback v3

It is ostensibly behaving as a drop-in replacement for my existing versions, so I'm assuming the readme has not been updated for newer postgres compatibility.

[2021-01-29 03:20] dhmlau commented on #472
I'm using postgres 11.5 in my docker image and it's been running fine.
Travis CI is using 9.6 though. There's an effort to use GitHub Actions for our CI instead. If you're interested to help for this connector, please feel free! Here is a reference for the mongodb connector: https://github.com/strongloop/loopback-connector-mongodb/pull/613.

[2021-01-29 19:01] Sulejman commented on #453
Also for the digital ocean, is there a way to connect using TLS/SSL certificate, all I could find was [this](https://github.com/strongloop/loopback-connector-postgresql/commit/d1a2fd21e4680867969921b08f9148187d4cd744) commit which added possibility to have SSL parameter false.

[2021-02-16 10:56] shira6657 commented on #173
thank you!

[2021-03-12 16:04] kleberalves commented on #453
Hello, friends.

The loopback-connector-postgresql 5+ does not implicity allow unauthorized connections as the 3.9.1 version. You need to configure...

I did it on my project LB4 in postgres.datasource.ts with loopback-connector-postgresql@5.3.0:

constructor(
    @inject('datasources.config.postgres', {
      optional: true
    })
    dsConfig: any = config,
  ) {

    dsConfig["url"] = process.e

[2021-03-22 08:23] malek0512 commented on #340
Hello @everyone, any news on this issue ?

[2021-03-27 18:53] natuan62 commented on #340
same problem with me !!

[2021-04-05 07:25] jagdeepak-prat commented on #253
Hi, could you let me know what the problem was? I am facing the exact issue?

[2021-04-05 23:50] KevinChengYang commented on #453
Hi kleberalves,

I kept getting the same error in LB4 even using the right syntax I believe.

    this.bind('datasources.config.productSelection').to({
      name: 'database name',
      connector: 'postgresql',
      url: process.env.DB_CONNECTION_STRING,
      ssl: {
        ca: fs.readFileSync(crtpath).toString(),
        key: fs.readFileSync(keypath).toString(),
        cert: dbCert,
        r

[2021-04-06 00:19] KevinChengYang opened #476 "LB4 with loopback-connector-postgresql@5.3.0"
I kept getting the same error in LB4 even using the right syntax below and right version of loopback-connector-postgresql@5.3.0 after I deploy it to IBM Cloud Kubenetes, it runs without any issues on my local.

import {BootMixin} from '@loopback/boot';
import {ApplicationConfig} from '@loopback/core';
import {RepositoryMixin} from '@loopback/repository';
import {RestApplication} from '@loopback/re

[2021-04-08 00:13] dhmlau commented on #476
Cross posting the answer from @raymondfeng on Slack: https://loopbackio.slack.com/archives/C01177XQN8N/p1617727228152000.

[2021-04-08 00:13] dhmlau commented on #476
@KevinChengYang, are you good with closing this issue? Thanks.

[2021-04-08 15:01] KevinChengYang commented on #476
Hi Diana,

Disable TLS warning will compromise the security of this service, I can do that for dev environment, but it's absolutely not acceptable for Production environment.

(node:1) Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification.

This defect need to be fixed as soon as possibl

[2021-04-22 17:45] mgabeler-lee-6rs opened #477 "eq object (JSON columns) doesn't work"
## Steps to reproduce

1. Create a model that has an object column, mapped as a JSON type in PostgreSQL
2. Try to do a `find` searching for a full value in that property/column, e.g. `const objectValue = {a: 1, b: 2};` and then `repo.find({where: {objectProperty: objectValue}})` or `repo.find({where: {objectProperty: {eq: objectValue}}})`

## Current Behavior

1. The `{objectProperty: {eq: value}}

[2021-06-02 16:05] YeahWeReTrying1 commented on #138
please anyone help me find a solution to the this exact problem

[2021-07-01 07:25] kwokgordon commented on #476
Hi Diana,

I am experiencing the same issue as Kevin.  Do you have an ETA when this issue will be fixed?

Thank you.

[2021-07-12 21:50] mgabeler-lee-6rs commented on #477
I'm not gonna fight with stale-bot ... having something like that activate without the maintainers even visibly acknowledging the issue just encourages switching to a better supported framework :(

[2021-07-26 20:38] #464 closed

[2021-07-26 20:38] #467 closed

[2021-07-26 20:38] #472 closed

[2021-07-26 20:38] #453 closed

[2021-07-26 20:38] #459 closed

[2021-08-18 19:13] AntonLocal opened #483 "Error: syntax error at or near ")""
Hi, when I upgraded dependencies in my project from loopback-connector-postgresql": "5.2.0" to version "5.2.1" - got this error for some of the requests:

[code]

After enabling debug output (DEBUG=loopback:connector:postgresql), I can see unexpected **AND(())** in the request and additional parentheses after WHERE clause:
[code]

The only changes from 5.2.0 -> 5.2.1 which could possibly affect th

[2021-08-31 13:45] akshatdubeysf opened #484 "Support for Full Text Search"
## Suggestion

Support FTS using the `@@` operator.

## Use Cases

Useful in avoiding use of execute to perform a full text search by providing keys in filters to perform the matching.

## Examples

Something like this could be provided -

{"where": {"textColumn": { "match": "filterValue" }}}

## Acceptance criteria

TBD - will be filled by the team.

[2021-09-10 23:05] mgabeler-lee-6rs commented on #477
@dhmlau @bajtos any chance someone can look at this? having stale-bot auto-close things without the maintainers even seeming to look at them doesn't give your users good feels.

[2021-09-11 12:54] achrinza commented on #477
Hi @mgabeler-lee-6rs, apologies for not attending to the issue earlier. I've added this to my pipeline for review and will try to see if I can timebox this.

Currently, there's quite a bit of backlog at my end so unfortunately I may not be able to work on a fix asap; Though I'm open to merging community contributions.

[2021-09-21 14:11] #484 closed

[2021-09-23 03:06] cluis13915 commented on #471
I'm experiencing this issue ! :confused:  I'm in the process of upgrading a node project running with Node 10, bringing it to the latest version of Node (v14.17.3).

I have some behaviour tests (endpoint tests) to make sure that I didn't break anything. When I execute my tests, at random points (after at least 5 seconds, so many requests) my backend crashes with the following error:
[code]

I have

[2021-09-24 13:56] #483 closed

[2021-11-01 14:13] akshatdubeysf opened #491 "Option to use joins instead of multiple calls for relations."
## Suggestion

An option to use joins instead of multiple calls for relations would be useful for performance reasons and would also not effect multi datasources setups by default.

## Use Cases

We are using a lot of DB calls with nested relations and each of those relations are fetched using extra DB calls which could be avoided. I understand the reasoning behind not using joins but I believe th

[2021-11-04 15:16] entcor commented on #342
Small hack for correct it
default loopback database converter convert array to JSON serialized string like ["1","2","3"]
but postgres use another format  like: {"1","2","3"}

it converter located in loopback-datasource-juggler/lib/dao.js
and we should change it

next code should call after loopback init:

[code]

you should change YOUMODELNAME

[2021-12-06 12:12] clearhost-cmd commented on #348
Any updates?

[2022-02-22 14:29] kyle-apex opened #493 "Release called on client which has already been released to the pool"
## Steps to reproduce
1) Use loopback-connector-postgresql 5.5.0 (5.4.0 does not exhibit this issue)
2) Commit a transaction with an error (ex: unique key violation)
3) Rollback the transaction

## Current Behavior

Calling transaction.commit and subsequently transaction.rollback if there is a commit error results in:

The following error from [pg-pool](https://github.com/brianc/node-postgres/blob

[2022-02-23 21:10] kyle-apex commented on #493
For others searching for this error, this override is getting my around this issue for now:

`dataSource.connector.releaseConnection = function (connection, err) {
		if (typeof connection.autorelease === 'function') {
			connection.txId = null;
			connection.autorelease(err);
			connection.autorelease = null;
		} else {
			try {
				connection.release();
			} catch (err) {}
		}
	};`

[2022-02-25 12:17] frbuceta opened #494 "Doesn't scramble the where correctly"
## Steps to reproduce

A call is made in Loopback 4 but it doesn't resolve the where correctly.

[code]

## Current Behavior

[code]

## Expected Behavior

[code]

## Additional information

[code]

[2022-08-11 15:33] mlakdawala-sf opened #504 "If url is empty string in config server crashes"
## Current Behavior
If url prop is set to "" the server crashes

## Expected Behavior

It should be backward compatible, setting url:"" used to work previously
It stopped working post (https://github.com/loopbackio/loopback-connector-postgresql/commit/1a863f3df332f1732e8fec519f1d686561313a3e)

[2022-08-18 09:51] sonythr commented on #504
Experience the same behavior, for now I to use the previous one while waiting for the update

[2022-08-25 22:35] #504 closed

[2022-09-10 12:42] JakobClausen commented on #340
Is this still an issue? Can get this to work still with postgres.

[2022-09-22 07:42] sonythr commented on #504
Hi @achrinza I still got the same error, and npm still have the latest version as 5.5.1. It seems 5.5.2 is not there yet

[2022-09-29 10:03] renovate[bot] opened #517 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] fix(deps): update dependency uuid to v9

## Open

These updates have all been created already. Click a checkbo

[2022-10-02 03:36] achrinza opened #520 "Add back Node.js v12 tests"
Dropping support would be considered a breaking change. Until we agree to do a server major bump (e.g. with other breaking changes), we should continue testing older versions of Node.js.

[2022-11-07 18:36] dhmlau commented on #520
With Node.js 12 EOL April 2022, it makes sense to drop the support. My question would be whether we want to wait till next April so Node.js 14 to go EOL, then we have a major version bump at that time.

Reference: Node.js LTS schedule https://github.com/nodejs/Release

[2022-11-11 13:11] lchaglla commented on #471
Since version 5.1.0 which updates its dependencies (loopback-connector: ^5.0.0) It will give this error with loopback 3.
The latest version of loopback 3 (3.28.0) depends on loopback-datasource-juggler which depends on loopback-connector: "^4.4.0"

The transaction is created with loopback-connector@5 for loopback-connector-postgresql, but loopback will use loopback-connector@4 which is modified by

[2022-11-16 14:47] samarpanB opened #523 "Support bulk insert in one query using newly added createAll() in connector"
## Suggestion

With the addition of efficient bulk insert in one DB query feature in loopback-connector after release of [this PR](https://github.com/loopbackio/loopback-connector/pull/228), its important that we implement this method in postgres connector too as postgresql already supports `insert into ... values ().. n` dialect for multiple inserts in 1 single query.

Also relates to https://git

[2022-11-18 08:53] samarpanB commented on #520
I can do this change as part of my PR here - https://github.com/loopbackio/loopback-connector-postgresql/pull/524. Let me know what you guys think ? @achrinza @dhmlau

[2022-11-19 13:40] achrinza commented on #520
@samarpanB Im ok with that 👍

[2022-11-23 10:10] #523 closed